<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dahyangmandang - Menu</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/business-casual.css') }}" rel="stylesheet">
    
    <style type="text/css">
    .tab {margin-left: 40px;}
    </style>

  </head>

  <body>
    <style>
      .container {
        position: relative;
      }

      .topright {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 18px;
      }
    </style>
    <div class="topright"><a href="http://localhost:5000/menu">
      <span style="color:white">한국어 ver.</span></a></div>
    </div>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Korean traditional tea house</span>
      <span class="site-heading-lower"><img src="{{ url_for('static', filename='img/logo.png') }}" width="75" height="75" alt="">     Dahyangmandang</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">NAVIGATION</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="http://localhost:5000/about/eng">about
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="http://localhost:5000/menu/eng">menu</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="http://localhost:5000/map/eng">map</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="http://localhost:5000/review/eng">review</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="http://localhost:5000/petition/eng">petition</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="http://localhost:5000/recruit/eng">recruit</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="http://localhost:5000/reservation/eng">program</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Come in</span>
                <span class="section-heading-lower">Our Menu</span>
              </h2>
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  Grean leaf tea(綠茶)
                </li>
                <li class="list-unstyled-item list-hours-item d-flex tab">
                  Eunhyang(sejak)
                  <span class="list-unstyled-item list-hours-exp d-flex">Tea made of fragrant tealeaf from Mt. Jiri</span>
                  <span class="ml-auto">2,500won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex tab">
                  Yunhyang(Jukro)
                  <span class="list-unstyled-item list-hours-exp d-flex">Jukro tea grown up from bamboo forest of Mt. Jiri</span>
                  <span class="ml-auto">2,000won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex tab">
                  Sunhyang(Hwnagcha)
                  <span class="list-unstyled-item list-hours-exp d-flex">Brown tea made from fermented tea leaf</span>
                  <span class="ml-auto">2,500won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex tab">
                  Jasmine tea
                  <span class="list-unstyled-item list-hours-exp d-flex">Jasmin tea mixed with half fermented tea</span>
                  <span class="ml-auto">2,000won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex tab">
                  Seolhyang(malcha)
                  <span class="list-unstyled-item list-hours-exp d-flex">	Green tea made of house cultivated tea leaf</span>
                  <span class="ml-auto">4,500won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Daeyoung tea(代用茶)
                </li>
                <li class="list-unstyled-item list-hours-item d-flex tab">
                  Solbaram tea
                  <span class="list-unstyled-item list-hours-exp d-flex">drink made of fermented pinetree leaf</span>
                  <span class="ml-auto">3,000won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex tab">
                  Omija tea
                  <span class="list-unstyled-item list-hours-exp d-flex">Tea with sweet, sour, bitter, salty, spicy tastes</span>
                  <span class="ml-auto">3,000won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex tab">
                  Plum tea
                  <span class="list-unstyled-item list-hours-exp d-flex">Summer drink with strong antibacterial effect</span>
                  <span class="ml-auto">2,500won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex tab">
                  Ssanghwatang
                  <span class="list-unstyled-item list-hours-exp d-flex">Tea with various Korean medicine</span>
                  <span class="ml-auto">3,500won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex tab">
                  Chrysanthemum tea
                  <span class="list-unstyled-item list-hours-exp d-flex">Tea made from dried chrysanthemum</span>
                  <span class="ml-auto">2,500won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex tab">
                  Cinnamon tea
                  <span class="list-unstyled-item list-hours-exp d-flex">Ginger and cinnamon tea</span>
                  <span class="ml-auto">2,500won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex tab">
                  Quince tea
                  <span class="list-unstyled-item list-hours-exp d-flex">Jammed quince tea</span>
                  <span class="ml-auto">2,500won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex tab">
                  Jujube tea
                  <span class="list-unstyled-item list-hours-exp d-flex">extract of jujube</span>
                  <span class="ml-auto">2,500won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Rice cake
                  <span class="list-unstyled-item list-hours-exp d-flex">Yaksik, Gyungdan, Black bean rice cake etc…</span>
                  <span class="ml-auto">1,500won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Dasik
                  <span class="list-unstyled-item list-hours-exp d-flex">Pine pollen, black sesame, mungbean, omija, bean, blue bean</span>
                  <span class="ml-auto">1,500won</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Dagu/grean tea
                  <span class="ml-auto">1,500won</span>
                </li>
              </ul>
              <p class="address mb-5">
                <em>
                  <strong>Seoul National University Duremunyekwan(building 67) 1st floor</strong>
                  <br>
                  Gwanak-gu, Seoul
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>평일 10:30 ~ 17:30</em>
                </small>
                <br>
                (02) 880-6244
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright by 다향만당 &copy; Your Website 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

  </body>

  <!-- Script to highlight the active date in the hours list -->
  <script>
    $('.list-hours li').eq(new Date().getDay()).addClass('today');
  </script>

</html>
